In [8]:
import pandas as pd
df=pd.read_csv(r"C:\Users\hp\OneDrive\Desktop\Student-Performer-ML\data\datastudent_performance_clean.csv")
df = df.rename(columns={
    "studytime": "study_hours",
    "G1": "previous_score_1",
    "G2": "previous_score_2",
    "G3": "final_score"
})
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,previous_score_1,previous_score_2,final_score
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   school            649 non-null    object
 1   sex               649 non-null    object
 2   age               649 non-null    int64
 3   address           649 non-null    object
 4   famsize           649 non-null    object
 5   Pstatus           649 non-null    object
 6   Medu              649 non-null    int64
 7   Fedu              649 non-null    int64
 8   Mjob              649 non-null    object
 9   Fjob              649 non-null    object
 10  reason            649 non-null    object
 11  guardian          649 non-null    object
 12  traveltime        649 non-null    int64
 13  study_hours       649 non-null    int64
 14  failures          649 non-null    int64
 15  schoolsup         649 non-null    object
 16  famsup            649 non-null    object
 17  paid              649 non-null    object
 18  activities        649 non-null    object
 19  nursery           649 non-null    object
 20  higher            649 non-null    object
 21  internet          649 non-null    object
 22  romantic          649 non-null    object
 23  famrel            649 non-null    int64
 24  freetime          649 non-null    int64
 25  goout             649 non-null    int64
 26  Dalc              649 non-null    int64
 27  Walc              649 non-null    int64
 28  health            649 non-null    int64
 29  absences          649 non-null    int64
 30  previous_score_1  649 non-null    int64
 31  previous_score_2  649 non-null    int64
 32  final_score       649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

In [17]:
x=df[["study_hours", "previous_score_1", "previous_score_2", "absences"]]
y=df["final_score"]

In [11]:
x.isnull().sum()

study_hours         0
previous_score_1    0
previous_score_2    0
absences            0
dtype: int64

In [12]:
y.isnull().sum()

final_score    0
dtype: int64

In [14]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

In [18]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    x_scaled, y, test_size=0.2, random_state=42
)

In [19]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((519, 4), (130, 4), (519,), (130,))